.app-slider-section {
  position: relative;
  /* Needed so absolute positioning works */
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;

}

.swiper {
  padding: 50px;
  max-height: 800px;
  height: 100%;
  // padding-bottom: 50px;

}

.swiper-wrapper {
  display: flex;
  width: 100%;
  @media(max-width: 1440px) {
    // height: 600px;
  }
  @media(max-width: 1200px) {
    height: 100%;
  }
}

.swiper-slide {
  width: 280px;
  height: 100%;
}
.webImage{
  max-height: 100%;
  max-width: 100%;
}
.container{
  width: 90%;
  max-width: 1600px;
}
.swiper-slide img {
  border-radius: 30px;
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.15));
  transition: transform 0.5s ease;
  object-fit: contain;
  height: 100%;
  width: 100%;
// @media(max-width: 1440px){
//   max-height: 500px;
// }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  max-width: 300px;
  @media(max-width: 1440px){
    max-height: 500px;
  }
}

.swiper-slide-active {
  .overlay {
    opacity: 0;
    visibility: hidden;
  }

  img {
    transform: scale(1.06);

  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary);
  z-index: 20;
  font-size: 32px;
  transition: all 0.3s ease;
  font-weight: bold;
}

/* Left arrow */
.swiper-button-prev {
  left: 5%;

  @media(max-width: 1600px) {
    left: 0;

  }
}

/* Right arrow */
.swiper-button-next {
  right: 5%;

  @media(max-width: 1600px) {
    right: 0;

  }
}

.app-slider-section .swiper-slide-active {
  transform: translate3d(0, 0, 0) scale(1.06) !important;
  z-index: 10;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 220px;
  }
}