.about-app-section {
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;

  @media(max-width: 1200px) {
    gap: 2rem;
  }

  @media(max-width: 992px) {
    flex-direction: column;
    gap: 40px;

  }

}

.about-app-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-app-image img {
  max-width: 400px;
  border-radius: 40px;
  object-fit: cover;
  max-height: 600px;

  @media(max-width: 992px) {}
}

.about-app-content {
  width: 60%;
  min-width: 300px;

  @media(max-width: 1200px) {
    width: 65%;

  }

  @media(max-width: 992px) {
    width: 100%;
    text-align: center;
  }
}

.section-subtitle {
  text-align: left;
  text-transform: none;
  @media(max-width: 992px) {
    text-align: center;
  }

}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0a043c;
  margin-bottom: 20px;
  line-height: 1.3;
  text-align: left;

  @media(max-width: 992px) {
    text-align: center;
  }

  @media(max-width: 563px) {
    font-size: 1.8rem;
  }
}

.section-description {
  color: #666;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-feature-card {
  background-color: var(--color-primary-xxlight);
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.about-feature-card.highlighted {
  background-color: var(--color-primary-xlight);
}

.about-feature-card h4 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #0a043c;
  margin-bottom: 10px;
}

.about-feature-card p {
  color: #555;
  margin: 0;
  font-size: 15px;
}

.icon {
  margin-right: 10px;
  color: var(--color-primary);
  font-size: 20px;
}

.about-feature-card:hover {
  background-color: var(--color-primary-xlight);
  transform: translateY(-3px);
}

.mat-expansion-panel-header-title {
  flex-grow: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none;
}

.mat-expansion-panel-header-description {
  color: #0a043c;
  font-size: 22px;
  text-align: left;
  @media(max-width: 548px){
    font-size: 20px;
  }
}

mat-expansion-panel {
  transition: all 0.3s ease !important;
  border-radius: 10px !important;

  p{
    color: #555;
    margin: 0;
    font-size: 18px;
    text-align: left;
  }
}

.mat-expansion-panel:hover {
  background-color: var(--color-primary-xlight);
  transform: translateY(-3px);
}

.mat-expansion-panel-header {
  padding: 20px 25px;
  height: 80px;
  align-items: flex-start;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background: none;
}
mat-panel-title{
  color: var(--color-primary);
  font-size: 1.5rem;
}
.faqs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mat-expansion-panel.mat-expanded {
  background-color: var(--color-primary-xlight);
}
