.cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.sect {
    padding: 6rem 0;
    @media(max-width: 768px) {
        padding: 4rem 0;
    }
}

.card {
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    @media(max-width: 993px) {
        box-shadow: 5px 5px 50px var(--color-primary-xxlight);
    }
    @media(max-width: 563px) {
        aspect-ratio: 1.8/1;
    }
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient-brand);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: skew(-24deg);
    clip-path: circle(0% at 50% 50%);
    transition: all 0.64s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .card:hover::before {
    opacity: 1;
    transform: skew(0deg);
    clip-path: circle(140.9% at 0 0);
  }
.card:hover {
    box-shadow: 5px 5px 50px 10px var(--color-primary-xxlight);
    .icons i{
        color: var(--color-white);
    }
    .cardsubtitle{
        color: var(--color-border-light);
    }
}

.icons {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    i {
        font-size: 4rem;
        color: var(--color-primary);
        @media(max-width: 380px) {
            font-size: 3rem;
        }
    }
}

.text {
    text-align: center;
    z-index: 900;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cardtitle {
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 900;

}

.cardsubtitle {
    color: var(--color-text-body);

}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    max-width: 580px;
    margin: 0 auto;
    line-height: 1.2;

    @media(max-width: 768px) {
        font-size: 2rem;
    }
    @media(max-width: 563px) {
        font-size: 1.8rem;
    }

}