.cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.sect {
    padding: 6rem 0;
    @media(max-width: 768px) {
        padding: 4rem 0;
    }
}

.card {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    @media(max-width: 993px) {
        box-shadow: 5px 5px 50px var(--color-primary-xxlight);
    }

    @media(max-width: 563px) {
        aspect-ratio: 1.8/1;
    }
}

.card:hover {
    box-shadow: 5px 5px 50px var(--color-primary-xxlight);
}

.icons {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 4rem;
        color: var(--color-primary);
        @media(max-width: 380px) {
            font-size: 3rem;
        }
    }
}

.text {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.cardtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.cardsubtitle {
    color: var(--color-text-body);

}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    max-width: 580px;
    margin: 0 auto;
    line-height: 1.2;

    @media(max-width: 768px) {
        font-size: 2rem;
    }
    @media(max-width: 563px) {
        font-size: 1.8rem;
    }

}