.work-process-section {
  background-color: #fff;
  padding: 100px 0;
}

.section-subtitle {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 60px;
  text-align: center;

}

.process-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.process-card {
  aspect-ratio: 1/1.3;
  transition: all 0.3s ease;
  position: relative;
}

.process-card:hover {
  transform: translateY(-5px);
}

.process-icon {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

.process-icon img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.process-icon.purple {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape1.png');
}

.process-icon.pink {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape2.png');
}

.process-icon.green {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape3.png');
}

.text {
  height: 40%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.process-card h4 {
  color: #0a043c;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.process-card p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
}