.work-process-section {
  background-color: #fff;
  padding: 100px 0;
}

.process-grid {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;

  @media(max-width: 1440px) {
    height: 500px;
    gap: 1rem;
  }

  @media(max-width: 1200px) {
    height: auto;
  }

  @media(max-width: 991px) {
    gap: 2rem;
  }

  @media(max-width: 785px) {
    gap: 1rem;

  }

  @media(max-width: 350px) {
    gap: 2rem;
  }
}

.process-card {
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
  position: relative;
  flex: 1 1 300px;

  @media(max-width: 1200px) {
    max-width: 400px;
  }

  @media(max-width: 991px) {
    max-width: 300px;
    flex: 1 1 250px;
  }

  @media(max-width: 785px) {
    max-width: 250px;
  }

  @media(max-width: 579px) {
    max-width: 250px;
    aspect-ratio: 1/1.4;

  }

  @media(max-width: 547px) {
    max-width: none;
    width: 100%;
    aspect-ratio: 1/1;
  }


}

.process-card:hover {
  transform: translateY(-5px);
}

.process-icon {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.process-icon img {
  height: 70%;
  object-fit: cover;
}

.process-icon.purple {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape1.png');
}

.process-icon.pink {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape2.png');
}

.process-icon.green {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape3.png');
}

.text {
  height: 50%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.process-card h4 {
  color: #0a043c;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;

  @media(max-width: 785px) {
    font-size: 1.2rem;
  }
}

.process-card p {
  color: #555;
  font-size: 1rem;
  line-height: 1.7;
}