.work-process-section {
  background-color: #fff;
  padding: 100px 0;
}





.process-grid {
  display:flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  @media(max-width: 1400px) {
    gap: 0;
  }


  @media(max-width: 1200px) {
    gap: 3rem;
}
}
.process-card {
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
  position: relative;
  flex: 1 1 250px; /* 👈 don’t shrink, don’t grow */
  max-width: 100%;
  @media(max-width: 991px) {
    max-width: 300px;
  }

  @media(max-width: 564px) {
    max-width: 100%;
  }

}

.process-card:hover {
  transform: translateY(-5px);
}

.process-icon {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
}

.process-icon img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.process-icon.purple {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape1.png');
}

.process-icon.pink {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape2.png');
}

.process-icon.green {
  background-image: url('https://templates.envytheme.com/eash/default/assets/images/work/shape3.png');
}

.text {
  height: 40%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.process-card h4 {
  color: #0a043c;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.process-card p {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
}