
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../theme-colors' as color;
html {
  @include mat.theme((
    color: (
      primary: color.$primary-palette,
      tertiary: color.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  // background-color: var(--mat-sys-surface);
  // color: var(--mat-sys-on-surface);
  // font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */
/* Reset / basic styles */
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  overflow-y: auto; /* or scroll */
  overflow-x: hidden; /* prevent horizontal scroll */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #0a043c;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: auto;
  overflow-y: auto; /* or scroll */
  overflow-x: hidden; /* prevent horizontal scroll */
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1440px) {
      max-width: 100%;
      padding: 0 3rem;
  }

  @media (max-width: 1200px) {
      max-width: 960px;
    padding: 0 2rem;
  }

  @media (max-width: 992px) {
    max-width: 720px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }

  @media (max-width: 480px) {
    padding: 0 12px;
  }

}



a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: #d62828;
  /* Brand red */
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color 0.3s;
  border: none;
  outline: none;
}

.btn-primary:hover {
  background-color: #b32222;
}

.btn-outline {
  background: transparent;
  color: #d62828;
  padding: 12px 24px;
  border: 2px solid #d62828;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.btn-outline:hover {
  background: #d62828;
  color: #fff;
}
.section-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 60px;
  text-align: center;
  @media(max-width: 563px) {
    font-size: 1.8rem;
  }
}
.section-subtitle {
  color: var(--color-primary);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

:root {
  --color-primary-dark: #9b1b1b;   /* Deep, warm red */
  --color-primary: #d62828;        /* Main red tone */
  --color-primary-light: #f04f4f;  /* Softer accent red */
  --color-primary-xlight: #f9b3b3; /* Gentle pastel tint */
  --color-primary-xxlight: #fdecec7a;/* Very light background tint */
  /* Primary Shades */
  // --color-primary-dark: #B71C1C;
  // --color-primary: #D62828;
  // --color-primary-light: #f55c5c91;
  // --color-primary-xlight: #FDECEC;
  // --color-primary-xxlight: #fdecec7a;

  /* Secondary Shades */
  --color-secondary: #F5F5F5;
  --color-secondary-light: #FAFAFA;

  /* Text Colors */
  --color-text-dark: #333333;
  --color-text-body: #626467;
  --color-text-muted: #999999;

  /* Utility Colors */
  --color-white: #FFFFFF;
  --color-accent: #E63946;
  --color-success: #2ECC71;
  --color-info: #3498DB;
  --color-border-light: #E0E0E0;

  /* Gradients */
  --gradient-brand: linear-gradient(135deg, #B71C1C 0%, #F55C5C 100%);
  --gradient-accent: linear-gradient(135deg, var(--color-primary)0%, var(--color-primary-xlight) 100%);
}

.webImage{
  max-width: 400px;
  border-radius: 40px;
  object-fit: cover;
  max-height: 600px;
  @media(max-width: 992px) {
  }
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
