.site-header {
  background: transparent;
  backdrop-filter: blur(50px);
  transition: box-shadow 0.3s ease-in-out;
  /* shadow fade-in only */
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.scrolled {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
}

.logImg {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  img {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
  }
}

.site-header .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d62828;
}

.site-nav {
  @media(max-width: 991px) {
    display: none;
  }
}

.site-nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.site-nav ul li a {
  color: var(--color-text-dark);
  font-size: 1rem;
  transition: color 0.3s;
  font-weight: 500;
}

.site-nav ul li a:hover {
  color: #d62828;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1200px) {
    max-width: 100%;
    padding: 0 2rem;
  }

  @media(max-width: 991px) {
    max-width: 720px;
    padding: 0 1rem;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: pointer;
  transition: all 0.4s ease;

  @media(max-width: 991px) {
    display: flex;
  }
}

.gtbtn {
  @media(max-width: 991px) {
    display: none;
  }
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #0a043c;
  border-radius: 3px;
  transition: all 0.4s ease;
}

/* --- Active States --- */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}