<section class="testimonial-section">
  <div class="container">
    <div class="testimonial-header">
      <span class="section-subtitle">Clients Say</span>
      <h2 class="section-title">What Clients Think</h2>
    </div>
    <div class="test-track">
      <div class="testimonial-box" [style.transform]="'translateX(' + (-currentTestimonial() * 100) + '%)'">
        @for (test of testimonials; track test) {

        <div class="testimonial-card">
          <div class="testimonial-content">
            <p class="testimonial-text">
              {{ test.text }}
            </p>
            <h4 class="client-name">{{test.name}}</h4>
            <p class="client-role">{{test.role}}</p>
          </div>
        </div>
        }
      </div>
    </div>





    <div class="testimonial-avatars">
      @for (test of testimonials; track test) {
      <img [src]="test.img" alt="Client 1" class="avatar active" (click)="goToTestimonial($index)">
      }
    </div>
  </div>
</section>