
  .testimonial-section {
    text-align: center;
    // padding: 100px 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    // position: relative;
    padding-bottom: 6rem;
  }

  .test-track {
    // border: 2px solid black;
    overflow: hidden;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width:100% ;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 60px;

  }
  .testimonial-content{
    padding: 50px;
    box-shadow: 0px 0px 20px 8px var(--color-primary-xxlight);
    border-radius: 0.5rem;
  }
  .testimonial-card{
    flex-shrink: 0;
    justify-content: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
  }
  .testimonial-text {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #444;
    margin-bottom: 30px;
  }
  
  .client-name {
    font-weight: 700;
    font-size: 1.5rem;
    color: #0a0a23;
    margin-bottom: 5px;
  }
  
  .client-role {
    color: #777;
    font-size: 0.9rem;
  }
  
  .testimonial-avatars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    // max-width: 500px;
    // overflow-x: auto;
    // margin: 0 auto;
  }
  
  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }
  
  .avatar.active {
    transform: scale(1.15);
    opacity: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border: 3px solid var(--color-primary-xlight);
  }
  
  .avatar:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {

    .avatar {
      width: 55px;
      height: 55px;
    }
  }
  @media (max-width: 480px) {
    .testimonial-text, .client-name{
      font-size: 1rem;
    }

    .testimonial-content{
      padding: 40px;
    }
  }

  